{% extends './base.html' %} {% block content %}
  <div class="card mb-4 mt-5">
    <div class="card-header">
      <h1 class="text-center"> {{name}}</h1>
    </div>
    <div class="card-body">
      
      {% for comment in comments %}
      <p class="btn btn-outline-primary">شماره کاربر: {{comment.user.phone_number}}</p><br>
      <p class="btn btn-outline-primary"> ایمیل کاربر : {{comment.user.email}}</p><br>
      <p class="btn btn-outline-primary"> کامنت : {{comment.body}}</p><br>
      {% if request.user.is_staff %}
                
                    {% if comment.access %}
                    <a
                    href="{% url 'admin_panel:confirm_comment' comment.id %}"
                    class="btn btn-success"
                    > 
                    تایید شده
                    </a>
                    {% else %}
                    <a
                    href="{% url 'admin_panel:confirm_comment' comment.id %}"
                    class="btn btn-danger"
                    > 
                    در انتظار تایید
                    </a>
                    {% endif %}

              
      {% else %}
                  {% if comment.access %}
                  <p
                 
                  class="btn btn-success"
                  > 
                  تایید شده
                  </p>
                  {% else %}
                  <p
                 
                  class="btn btn-danger"
                  > 
                  در انتظار تایید
                  </p>
                  {% endif %}
      
      {% endif %}
      <br>
      <div class="mt-5"></div>
      {% empty %}
      <p class="btn btn-danger">کامنتی هنوز موجود نیست</p>
      {% endfor %}
    </div>
    </div>
</form>

{% endblock %}
